<!-- ADMINLOGIN TEMPLATE -->
<div align="center">
<table cellspacing="1" cellpadding="0" border="0" id="haupt" width="400">
<tr>
    <td colspan="2" id="thright"><b>&raquo; <%%LOGINBEREICH%%></b></td>
</tr>
<tr>
    <td class="innenh" colspan="2" align="left"><span class="tippred"><%%LOGINFEHLER%%></span></td>
</tr>
<tr>
    <td class="innenh" width="50%" align="left">Benutzername</td>
    <td class="innenh" width="50%" align="left"><input id="upw" class="inpu" style="width: 150px" size="30" type="text" name="username" autocomplete="off" maxlength="50"></td>
</tr>
<tr>
    <td class="innenh" align="left">Passwort</td>
    <td class="innenh" align="left"><input class="inpu" style="width: 150px" size="30" type="password" name="passwort" autocomplete="off" maxlength="50"></td>
</tr>
<tr>
    <td class="innenhd" colspan="2" align="left"><b>Hinweis!</b> 
Bitte sicherstellen das der Browser Cookies akzeptiert, ansonsten ist kein Login möglich. </td>
</tr>
<tr>
    <td id="tfright" colspan="2" align="center"><input class="los" type="submit" value="Login"></td>
</tr>
</table>
<script type="text/Javascript" language="JavaScript">
<!-- 
document.getElementById("upw").focus(); 
//--> 
</script>
</div>
</form>
<!-- ADMINLOGIN TEMPLATE -->