<table class="table table-striped table-hover card-body">
    <thead>
        <th colspan="2">Systeminformationen:</th>
    </thead>
    <tbody>
        <tr>
            <td>PHP-Version:</td>
            <td><%%PHPVERSION%%></td>
        </tr>
        <tr>
            <td>MYSQL-Version:</td>
            <td><%%MYSQLVERSION%%></td>
        </tr>
        <tr>
            <td>Gesamtanzahl Bilder:</td>
            <td><%%IMAGECOUNT%%><%%IMAGESLINK%%></td>
        </tr>
        <tr>
            <td>Neue Bilder der letzten 24 Stunden:</td>
            <td><%%IMAGECOUNTNEW%%>&nbsp;<%%IMAGESLINKNEW%%></td>
        </tr>
        <tr>
            <td>Belegter Speicherplatz:</td>
            <td><%%USEDSPACE%%></td>
        </tr>
        <tr>
            <td>Benutzter Traffic im aktuellen Monat:</td>
            <td><%%USEDTRAFFIC%%></td>
        </tr>
        <tr>
            <td>Admin Login Statistik:</td>
            <td><a href="?go=adminlog">Ansehen</a></td>
        </tr>
    </tbody>
</table>