<a href="admin.php?go=startseite" title="Startseite der Administration aufrufen"><span>&nbsp;</span> Startseite</a>
<a href="../" title="Bilduplod Webseite aufrufen"><span>&nbsp;</span> Bilduplod Webseite</a>

<div class="rub"><b>System</b></div>
<a href="admin.php?go=systemdaten" title="Systemdaten anpassen"><span>&nbsp;</span> Systemeinstellungen</a>
<a href="admin.php?go=admindaten" title="Admin Username und Passwort ändern"><span>&nbsp;</span> Admindaten</a>
<a href="admin.php?go=adminlog" title="Loginstatistik Admin ansehen"><span>&nbsp;</span> Loginstatistik Admin</a>

<div class="rub"><b>Bildverwaltung</b></div>
<a href="admin_bilder.php?go=neue" title="Neue Bilder der letzten 24 Stunden"><span>&nbsp;</span> Neue Bilder</a>
<a href="admin_bilder.php" title="Liste aller Bilder ansehen"><span>&nbsp;</span> Alle Bilder</a>
<a href="admin_bilder.php?go=op" title="Bilder l&ouml;schen deren Speicherzeitraum abgelaufen ist"><span>&nbsp;</span> Alte Bilder l&ouml;schen</a>
<a href="admin_bilder.php?go=tl" title="Alte Trafficlogs l&ouml;schen"><span>&nbsp;</span> Trafficlogs l&ouml;schen</a>