<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="./">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item"><a class="nav-link" href="admin.php?go=startseite"><i class="fas fa-home"></i>&nbsp;Startseite</a></li>
            <li class="nav-item"><a class="nav-link" href="../"><i class="fas fa-upload"></i>&nbsp;Bildupload Webseite</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-server"></i>&nbsp;System
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="admin.php?go=systemdaten"><i class="fas fa-cog"></i>&nbsp;Systemeinstellungen</a>
                    <a class="dropdown-item" href="admin.php?go=admindaten"><i class="fas fa-database"></i>&nbsp;Admindaten</a>
                    <a class="dropdown-item" href="admin.php?go=adminlog"><i class="fas fa-list"></i>&nbsp;Loginstatistik Admin</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-images"></i>&nbsp;Bildverwaltung
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="admin_bilder.php?go=neue"><i class="fas fa-fire"></i>&nbsp;Neue Bilder</a>
                    <a class="dropdown-item" href="admin_bilder.php"><i class="fas fa-images"></i>&nbsp;Alle Bilder</a>
                    <a class="dropdown-item" href="admin_bilder.php?go=op"><i class="fas fa-trash"></i>&nbsp;Alte Bilder l&ouml;schen</a>
                    <a class="dropdown-item" href="admin_bilder.php?go=tl"><i class="fas fa-trash"></i>&nbsp;Trafficlogs l&ouml;schen</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <select class="form-control mr-sm-2" name="gourl" size=1 onchange="pulldown(this.form)">
                <option value="0">Auswahl treffen</option>
                <%%PROGAMMMENUE%%>
            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" onClick="pulldown(this.form)" type="submit">GO</button>
        </form>
        <li class="nav-item my-2 my-lg-0"><a class="nav-link" href="admin.php?go=logout" onclick="return confirm('M&ouml;chten Sie sich wirklich abmelden?\nWenn Sie jetzt auf OK klicken werden Sie aus der Administration ausgeloggt.')"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a></li>
        </ul>
    </div>
</nav>