
<table width="100%" cellspacing="2" cellpadding="0" border="0" class="tcborder">
<tr>
    <td class="tbinnend" colspan="2">Bild l&ouml;schen</td>
</tr>
<tr>
    <td class="tbinnenh2" colspan="2">Geben Sie in das untere Formularfeld den L&ouml;schcode f&uuml;r das betreffende Bild ein. </td>
</tr>
<tr>
    <td class="tbinnenw" width="50%">L&ouml;schcode</td>
	<td class="tbinnenw" width="50%"><input class="mb" type="text" style="width: 250px" maxlength="40" name="dc"></td>
</tr>
<tr>
    <td class="tbinnenh2" colspan="2" align="center"><input type="submit" class="los" value="Absenden"></td>
</tr>
</table>
</form>