<div id="inhalt">
<!-- HEADERBEREICH ANFANG -->
<table cellspacing="0" cellpadding="0" border="0" width="100%" style="margin-bottom: 5px;">
<tr>
<td id="topsmall"></td>
</tr>
<tr>
<td id="topbanner"><div align="center"><img src="templates/images/logo.png" alt="" width="591" height="70" border="0"></div></td>
</tr>
<tr>
    <td id="menuetopline"></td>
</tr>
<tr>
    <td id="topmenue">
	<a href="./">Bild hochladen</a>
	<a href="./service.php?go=dp">Bild l&ouml;schen</a>
	<a href="./service.php?go=st">Statistiken</a>
	<a href="./service.php?go=agb">AGB/Regeln</a>
	<a href="./service.php?go=imp">Impressum/Kontakt</a>
	<a href="./service.php?go=help">Hilfe/FAQ</a>
	</td>
</tr>

<tr>
    <td id="menuebottomline"></td>
</tr>
</table>
<!-- HEADERBEREICH ENDE -->

<!-- ########################################################### -->

<!-- CONTENTBEREICH ANFANG -->

<table cellspacing="0" cellpadding="0" border="0" width="100%" style="margin-bottom: 5px;">
<tr>
	<td id="contenttop" width="100%"><b>&raquo;</b> <%%SEITENTITEL%%></td>
</tr>
<tr>
	<td id="content">
<!-- ######################################################################################### -->
<!-- CONTENTBEREICH ANFANG -->	
