	</td>
</tr>
</table>
<!-- CONTENTBEREICH ENDE -->

<!-- #################################################### -->

<!-- FOOTERBEREICH ANFANG -->

<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
	<td id="footer" width="100%"><a href="#">Homepage</a></td>
</tr>
</table>
<!-- FOOTERBEREICH ENDE -->

<!-- #################################################### -->
<br><br>
<!-- Die nachfolgenden Copyright Informationen duerfen nicht entfernt oder unkenntlich gemacht werden-->
<div class="copyright">Bildhosting Script Copyright by <a href="http://www.inspire-world.de" title="Inspire-World.de, PHP und Perl Scripte, Templates und Tutorials">Inspire-World.de</a></div>
<!-- #################################################### -->
</div>
</body>
</html>
