<h2>Statistiken</h2>
<table class="table table-striped table-hover table-condensed">
    <tbody>
        <tr>
            <td>1. Anzahl aller hochgeladener Bilder</td>
            <td>
                <%%ANZGESAMT%%>
            </td>
        </tr>
        <tr>
            <td>2. Anzahl derzeit gespeicherter Bilder</td>
            <td>
                <%%ANZAKTUELL%%>
            </td>
        </tr>
        <tr>
            <td>3. Gesamtgr&ouml;&szlig;e aller hochgeladener Bilder</td>
            <td>
                <%%BYTESGESAMT%%>
            </td>
        </tr>
        <tr>
            <td>4. Verursachter Traffic durch Bildaufrufe</td>
            <td>
                <%%TRAFFICGESAMT%%>
            </td>
        </tr>
        <tr>
            <td>5. Heute neu hochgeladene Bilder</td>
            <td>
                <%%UPLOADHEUTE%%>
            </td>
        </tr>
    </tbody>
</table>