
<table cellspacing="2" cellpadding="0" border="0" class="tbinnen" width="100%">
<tr>
    <td class="tbinnend" colspan="2">Statistiken</td>
</tr>
<tr>
    <td class="tbinnenh2" width="60%"><b>1. Anzahl aller hochgeladener Bilder</b></td>
	<td class="tbinnenw" width="40%"><%%ANZGESAMT%%></td>
</tr>
<tr>
    <td class="tbinnenh2" width="60%"><b>2. Anzahl derzeit gespeicherter Bilder</b></td>
	<td class="tbinnenw" width="40%"><%%ANZAKTUELL%%></td>
</tr>
<tr>
    <td class="tbinnenh2"><b>3. Gesamtgr&ouml;&szlig;e aller hochgeladener Bilder</b></td>
	<td class="tbinnenw"><%%BYTESGESAMT%%></td>
</tr>
<tr>
    <td class="tbinnenh2"><b>4. Verursachter Traffic durch Bildaufrufe</b></td>
	<td class="tbinnenw"><%%TRAFFICGESAMT%%></td>
</tr>
<tr>
    <td class="tbinnenh2"><b>5. Heute neu hochgeladene Bilder</b></td>
	<td class="tbinnenw"><%%UPLOADHEUTE%%></td>
</tr>
</table>

