<h2>Informationen zum Bild</h2>
<div class="row">
    <h3><b>1. Das hochgeladene Bild:</b></h3>
    <a href="<%%BILDURL%%>" target="_blank"><img class="img-fluid" src="<%%THUMBURL%%>"/></a>
    <b>Ein klick auf das Vorschaubild ruft die gro&szlig;e Version auf.</b>
</div>
<div class="row">
    <h3><b>2. Einbinden in Foren:</b></h3>
    <textarea class="form-control" cols="50" rows="4" name="forencode"><%%FORENCODE%%></textarea>
</div>
<div class="row">
    <h3><b>3. Einbinden in HTML:</b></h3>
    <textarea class="form-control" cols="50" rows="4" name="htmlcode"><%%HTMLCODE%%></textarea>
</div>
<div class="row">
    <h3><b>4. Der L&ouml;schcode:</b></h3>
    <p><b>Gut aufheben. Hiermit kann man ein Bild wieder l&ouml;schen, z.B. wenn man versehentlich ein falsches hochgeladen hat.</b></p>
    <%%DELCODE%%>
</div>