
<table cellspacing="2" cellpadding="0" border="0" class="tbinnen" width="100%">
<tr>
    <td class="tbinnend">Informationen zum Bild</td>
</tr>
<tr>
    <td class="tbinnenh2"><b>1. Das hochgeladene Bild</b></td>
</tr>
<tr>
    <td class="tbinnenw"><%%BILDPREV%%></td>
</tr>
<tr>
    <td class="tbinnenh2"><b>2. Einbinden in Foren</b></td>
</tr>
<tr>
    <td class="tbinnenw"><textarea class="mb" style="width: 95%;" cols="50" rows="4" name="forencode"><%%FORENCODE%%></textarea></td>
</tr>
<tr>
    <td class="tbinnenh2"><b>3. Einbinden in HTML</b></td>
</tr>
<tr>
    <td class="tbinnenw"><textarea class="mb" style="width: 95%;" cols="50" rows="4" name="forencode"><%%HTMLCODE%%></textarea></td>
</tr>
<tr>
    <td class="tbinnenh2"><b>4. Der L&ouml;schcode, bitte gut aufheben. Hiermit kann man ein Bild wieder l&ouml;schen, z.B. wenn man versehentlich ein falsches hochgeladen hat.</b></td>
</tr>
<tr>
    <td class="tbinnenw"><%%DELCODE%%></td>
</tr>
</table>

